.scroll{
    width: 400px; height: 200px; overflow-y: scroll;
    margin: 10px;
    &.shadow{
        background-color: #f5f5f5;
    }
}

.card{
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 10px;

}